* {
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .container {
    width: 1000px;
  }
}

.anime {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(black, 0.25);
  .content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .animeImg {
      width: 250px;
      height: 390px;
      margin: 10px;
      background-color: rgb(93, 127, 189);
    }
    .titleAnime {
      width: 720px;
      height: 50px;
      padding: 0px 10px;
      margin: 10px 0;
      line-height: 50px;
      font-size: 1.25em;
      color: white;
      text-align: center;
      background-color: black;
    }
    .titleSong {
      width: 720px;
      height: 50px;
      padding: 0px 10px;
      margin: 0;
      line-height: 50px;
      font-size: 1.25em;
      color: white;
      text-align: center;
      background-color: black;
    }
    .info {
      width: 720px;
      height: 280px;
      margin: 0;
      padding: 10px;
      font-size: 1.25em;
    }
    .noSelected {
      border: 2px solid red;
    }
  }
  .panel {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 10px 10px;
    .guide {
      display: flex;
      justify-content: space-between;
      width: 250px;
      .year {
        width: 90px;
        height: 50px;
        padding: 5px;
        font-size: 1.5em;
        text-align: center;
      }
      .seasons {
        width: 155px;
        height: 50px;
        padding: 5px;
        font-size: 1.5em;
      }
    }
    .control {
      display: flex;
      justify-content: space-between;
      width: 720px;
      font-size: 2em;
      text-align: center;
      color: white;
      .backwardAnime, .forwardAnime {
        width: 50px;
        height: 50px;
        padding: 0 10px;
        line-height: 50px;
        border-radius: 5px;
        background-color: black;
        cursor: pointer;
      }
      .searchMusic {
        width: 600px;
        height: 50px;
        background-color: black;
        border-radius: 5px;
        line-height: 50px;
        cursor: pointer;
      }
    }
  }
}


